@font-face {
  font-family: 'Euclid Circular A Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular A Regular'), url('~/assets/fonts/Euclid Circular A Regular.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular A Light';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular A Light'), url('~/assets/fonts/Euclid Circular A Light.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular A Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular A Medium'), url('~/assets/fonts/Euclid Circular A Medium.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular A SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular A SemiBold'), url('~/assets/fonts/Euclid Circular A SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Euclid Circular A Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Euclid Circular A Bold'), url('~/assets/fonts/Euclid Circular A Bold.woff') format('woff');
}
