@font-face {
  font-family: "Suisse Int'l Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Suisse Int'l Regular"), url("~/assets/fonts/Suisse Int'l Regular.woff") format('woff');
}

@font-face {
  font-family: "Suisse Int'l Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Suisse Int'l Medium"), url("~/assets/fonts/Suisse Int'l Medium.woff") format('woff');
}

@font-face {
  font-family: "Suisse Int'l Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Suisse Int'l Bold"), url("~/assets/fonts/Suisse Int'l Bold.woff") format('woff');
}
