.ape {
  @apply
    absolute top-14 left-0 md:top-20
    h-[calc(100vh-56px)] w-full pt-30px lg:pt-28
    z-40
    bg-white
  ;

  &__close {
    @apply
      absolute top-2 right-2 lg:(top-4 right-4)
      cursor-pointer
    ;

    &-icon {
      &--mobile {
        @apply
          lg:w-8
        ;
      }
    }
  }

  &__success {
    @apply
      mx-6
      lg:(flex justify-around)
    ;
  }

  &__rank {
    @apply
      w-auto
      flex
    ;
  }

  &__image img {
    @apply
    mt-[15px]
      md:(mx-auto)
      lg:(max-w-86)
      xl:(max-w-[500px])
    ;
  }

  &__name {
    @apply
    flex justify-between
    mt-3 max-w-[631px]
      md:(mx-auto w-[646px])
      lg:(w-86)
      xl:(w-125)
    text-big font-body500 lg:text-biggest
    ;
  }

  &__cta {
    @apply
      bg-black text-white
      flex justify-between items-center gap-x-6
      relative
      mt-3 p-3 max-w-[631px]
        md:(mx-auto w-full)
      font-semibold lg:text-big
      rounded
    ;

    &-image {
      @apply
        w-10 rounded-full
      ;
    }

    &-content {
      @apply
        flex gap-x-4 w-full
      ;
    }

    &-text {
      @apply
        mx-auto relative -left-4
      ;
    }

    &-price {
      @apply
        text-primary
        w-16
      ;
    }
  }

  &__divisor {
    @apply
      hidden
      
      lg:(
        flex items-center
        w-1px h-[115vh]
        bg-blue-gray
        relative -top-12
      )
    ;
  }

  &__left {
    @apply
      flex flex-col justify-center
      
      lg:(pb-36)
      xl:(pb-72)
    ;
  }

  &__right {
    @apply
      pb-12

      lg:(w-320px)
      xl:(w-500px)
    ;
  }

  &__rarity {
    @apply
      flex justify-between
      mt-4
    ;
  }

  &__share {
    @apply
      flex justify-center items-center
      relative
    ;

    &-icon {
      @apply
        text-2xl
        px-2 py-1
        bg-gray-light
        rounded cursor-pointer
      ;
    }

    &-triangle {
      @apply
        absolute -top-5 right-3 text-4xl
        text-gray-light
      ;
    }

    &-menu {
      @apply
        absolute top-13 -left-15 z-10
        px-3 py-2 w-28
        bg-gray-light
        rounded shadow-md
      ;
    }

    &-item {
      @apply
        font-info text-xs md:(text-sm)
        flex items-center justify-between
      ;

      &-icon {
        @apply
          duration-150
        ;
      }
    }

    &-link {
      @apply
        cursor-pointer
      ;
    }
  }

  &__traits {
    @apply
      pb-12
    ;
  }

  &__error {
    @apply
      h-full
      flex justify-center items-center
      text-2xl font-info
    ;
  }

  &__loading {
    @apply
      h-full
      flex justify-center items-center
      text-2xl font-info
    ;
  }

  &__nones {
    @apply
      bg-black text-white
      p-2 mx-auto max-w-32
      flex justify-center items-center
      relative cursor-pointer rounded
    ;
    
    &-input {
      @apply
        absolute top-0 left-0
        h-0 w-0
      ;
    }

    &-icon {
      @apply
        h-3 w-3
        bg-primary
        relative rounded-sm
        flex justify-center items-center
      ;

      &:hover {
        @apply
          bg-green-400
        ;
      }
    }

    &-check {
      @apply
        h-1 w-1
        bg-black text-xl
        font-bold
        rounded
      ;
    }

    &-text {
      @apply
        font-semibold text-sm
        ml-2 mt-1
        cursor-pointer
      ;
    }
  }
}

.ape-enter-from,
.ape-leave-to {
  opacity: 0;
  transform: translateY(20vh);
}

.ape-enter-active,
.ape-leave-active {
  transition: all 0.5s ease;
}

.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.3s ease;
}
