.gallery {
  &__tabs {
    @apply
      bg-white bg-opacity-60 mb-40px
      h-40px
      backdrop-filter backdrop-blur-xl 
    ;
      
      &-wrapper {
        @apply
        !sticky top-0 z-10
        overflow-hidden
      ;
    }

    &-list {
      @apply
        flex gap-x-9 px-3
        h-full
        shadow-lg lg:shadow-sm
        md:justify-center
      ;
    }

    &-item {
      @apply
        py-3
        cursor-pointer
        text-smaller md:text-base
      ;

      &--active {
        @apply
          border-b-black border-b-2
          rounded-sm
        ;
      }
    }
  }

  &__images {
    @apply
      mx-6 pb-12
      grid gap-5 
        md:(grid-cols-2) 
        lg:(grid-cols-3)
    ;
  }

  &__view {
    @apply
      flex absolute right-2 top-6px 
        lg:(right-5 bottom-2)
    ;
  }

  &__loading {
    @apply
      text-center text-xl font-info
      my-12
    ;
  }

  &__load {
    @apply
      max-w-32 mx-auto mb-8 md:max-w-64
      flex justify-center
    ;

    &-btn {
      @apply
        bg-primary-light
        py-2 px-4
      ;
    }
  }
}

.gallery__images.gallery {
  @apply
    mx-6 pb-12
    grid gap-[40px] md:grid-cols-2 lg:grid-cols-3
  ;
}

.gallery__images.thumbnail {
  @apply
    mx-6 pb-12
    grid gap-2 grid-cols-2 md:grid-cols-4 lg:grid-cols-6
  ;
}

.gallery__images.list {
  @apply
    pb-12 mx-0 -mt-10
    flex flex-col
    gap-0
  ;

  & .gallery__images-preview {
    &:nth-child(even) {
      @apply 
        bg-gray-light
      ;
    }
  }
}
