/*----------------------------------------------------------------------------------------------------------------------------|
| Header                                                                                                                      |
|----------------------------------------------------------------------------------------------------------------------------*/

.header {
  @apply
    md:(
      flex flex-col gap-y-6 justify-center
      pb-4
    )

    xl:(
      gap-x-0 py-4 px-2 h-56px shadow-sm
    )
  ;

  &__container {
    box-shadow: 0px -4px 24px 0px rgba(0, 0, 0, 0.1);

    @apply
      flex justify-between items-center
      py-10px px-20px w-full lg:py-0
      relative z-99999
      lg:shadow-header
    ;
  }

  &__logo {
    @apply
      cursor-pointer
      inline-block

      md:(
        mb-0 py-1
      )
    ;

    &-img {
      @apply
        w-16
        object-center object-cover
      ;
    }

    &--mobile {
      @apply
        md:hidden
      ;

      & .header__logo-icon {
        @apply
          h-8
          left-1 top-1
        ;

        &.show {
          @apply
            flex
          ;
        }

        &.disabled {
          @apply
            !hidden
          ;
        }
      }

      & .header__logo-img {
        @apply
          w-65px h-22px
          object-center object-contain
        ;
      }
    }

    &--desktop {
      @apply
        hidden
          md:inline
      ;

      & .header__logo-icon {
        @apply
          w-20px
        ;
      }

      & .header__logo-text {
        @apply
          w-60px
        ;
      }
    }

    &-icon {
      @apply
        w-12 h-12
        fixed z-999
        duration-100
      ;

      &.scrolled {
        @apply
          h-10 -top-1px
        ;
      }
    }

    &-text {
      @apply
        h-12 ml-6
      ;
    }
  }

  &__form {
    @apply
      flex flex-col
      my-90px mx-26px
      z-50

      md:(flex-row items-center gap-x-2)
      md:(h-12 mt-0 mb-2 mx-auto)
      md:(transform -translate-x-8)

      xl:(absolute right-[50%] top-1)
      xl:(transform translate-x-[45%])
    ;

    &-title {
      @apply 
        text-biggest font-info600 font-semi-bold leading-25.36px
        mb-21px

        md:hidden
      ;
    }

    &-field {
      @apply 
        flex flex-col justify-center
        mb-10px
          md:(mx-0 mb-0 h-11)
      ;
    }

    &-label {
      @apply
        mb-10px
        font-info500 font-semibold leading-12.68px

        md:hidden
      ;
    }

    &-select {
      @apply 
        w-full 
          md:(h-full w-230px) 
          2md:w-260px
          lg:(w-230px h-33px)
          border-none rounded outline-none
        bg-gray-light
      ;
    }

    &-id {
      @apply 
        relative
        h-full
        flex flex-col justify-center
      ;
    }

    &-input {
      @apply 
        py-13px px-20px w-281px h-34px 
          3sm:w-[80%]
          2sm:w-[82%]
          sm:w-[90%]
          md:(w-130px h-full)
          2md:(w-180px)
          lg:(pt-16px h-33px)
        border-none rounded outline-none
        bg-gray-light
        relative z-10
        font-info
      ;
    }

    &-submit {
      @apply 
        absolute right-0 bottom-0 
        h-full w-[32%] pr-15px
          3sm:pr-13px
          md:(-right-82px w-84px)
          lg:(-right-64px h-33px top-6px)
        text-right font-body500 leading-semibold
        bg-primary-light
        cursor-pointer rounded
      ;
    }
  }

  &__nav {
    &-toggler {
      @apply
        cursor-pointer

        md:hidden
      ;
    }

    &-list {
      @apply 
        flex gap-x-4 mt-1
        md:(gap-x-10 m-0)

        <md:(
          absolute right-2 top-[118%] py-5 px-19px w-147px h-156px
          flex-col justify-between z-999
          shadow-menu rounded-10px bg-white
        )
      ;

      &-triangle {
        @apply
          absolute right-5 top-[110%]
        ;
      }
    }

    &--mobile {
      @apply md:hidden;
    }

    &--desktop {
      @apply hidden md:flex
    }
  }
}

/*----------------------------------------------------------------------------------------------------------------------------|
| Vue Select                                                                                                                  |
|----------------------------------------------------------------------------------------------------------------------------*/

.v-select .vs {
  &__dropdown-toggle {
    @apply
      py-2 pl-20px pr-15px
      h-34px
        md:(h-full)
      border-none
    ;
  }

  &__selected {
    @apply
      m-0 p-0
    ;

    &-options {
      @apply
        flex items-center
        p-0
      ;
    }
  }

  &__actions {
    @apply 
      md:pt-0
    ;
  }
}

.menu-enter-from,
.menu-leave-to {
  opacity: 0;
}

.menu-enter-active,
.menu-leave-active {
  transition: all 0.3s ease;
}