.profile {
  &__wrapper {
    @apply
      mt-5 mx-3 lg:mt-40px
      flex justify-center
      relative
    ;
  }

  &__info {
    @apply
      relative
      lg:flex
    ;

    &-content {
      @apply
        mx-14px lg:max-w-200px
        font-info lg:text-medium
        lg:(flex flex-col justify-center)
      ;
    }

    &-image {
      @apply
        w-120px h-120px
          lg:(w-185px h-185px)
      ;
    }

    &-wrapper {
      @apply
        flex items-baseline
      ;
    }

    &-name {
      @apply
        mt-27px lg:mt-0
        font-info500 text-biggest lg:text-colossus
      ;
    }

    &-bio {
      @apply
        my-27px lg:(mt-0 mb-17px)
      ;
    }

    &-twitter {
      @apply
        flex items-baseline gap-x-2px
        bg-gray-lighter text-gray-dark
      ;
    }

    &-share {
      @apply
        grid place-items-center
        absolute right-2 top-0 lg:static
        bg-gray-lighter text-gray-dark
        h-29px w-29px
        focus:outline-none

        lg:(transform -translate-y-6px translate-x-3)
      ;
  
      &-icon {
        @apply
          text-medium
        ;
      }
    }
  }
}
