.preview {
  @apply
    relative
    overflow-hidden
    rounded-2xl
  ;

  &:hover {
    & img {
      @apply
        transform scale-110
      ;
    }
  }

  &__image {
    &-image {
      @apply
        duration-300
      ;
    }
  }

  &__container {
    @apply
      absolute top-0 left-0
      h-full w-full pb-10 pl-14px
      bg-gradient-to-b from-transparent to-black
      flex flex-col justify-end
      opacity-0 hover:opacity-100
      duration-300
      cursor-pointer
    ;
  }

  &__id {
    @apply
      bg-black text-primary
      absolute top-14px left-14px
      p-1 px-2
      rounded

      md:(text-big)
      lg:(font-info700)
    ;
  }

  &__content {
    @apply
      text-white font-semibold
    ;
  }

  &__name {
    @apply
      text-medium md:text-big lg:font-info500
      lg: mb-10px
    ;
  }

  &__score {
    @apply
      text-smaller md:text-base lg:font-info700
    ;

    &-score {
      @apply
        px-1 py-3px ml-3px
        bg-secondary text-black
      ;
    }
  }
}
